.row1 {
    display: flex; 
    flex-direction: row;
    
      
}

.row2 {
    display: flex; 
    flex-direction: row-reverse; 
}

/* 
#enter {
    display: inline-flex; 
} */



/***********MAIN PAGE****************************/
.foot1 {
    color: #000; 
    display: inline-block;
}

i {
    margin: 20px; 
    /* margin-right: 10px;  */
}

.sec1 {
    padding-top: 0; 
    /* border: #fff solid 2px; */
     
    background-color: #fff;
    color: #000; 
    /* height: 100%; */
   /* padding: 0; */
   /* height:auto;  */
     /* height: 100%; */
}

.sec2 {
    padding-top: 10px; 
    height:370px; 
    background-image: hide; 
    /* background-image:url("http://i67.tinypic.com/303k429.jpg");   */
    object-fit: contain; 
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    background-repeat: no-repeat; 
  
}

 img {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
   
   /* position:fixed;  */
    /* object-fit: contain;  */
    /* max-width: 100%;
    max-height: 100%;  */
}

.mainPageHead {
    padding-top: 10px;
    padding-bottom: 10PX; 
    font-family: 'Raleway', sans-serif; 
    font-size: 30px; 
    
}

.mainPageHead2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px; 
    margin-bottom: 0; 
    color: #0abab5; 
}

.quote {
    font-family: 'Alex Brush', cursive;
    font-size: 20px; 
    padding-bottom: 10px; 
}

.btn {
   display: block;
   margin: 0 auto; 
   padding: 25px 25px; 
   margin-bottom: 15px; 

}


/*************NAV BAR**********************/

.navbar-brand {
    color: #0abab5!important; 
}

/*************SECTION 1**********************/



#section1 {
    height:auto; 
    padding-top: 70px;
    padding-bottom: 20px; 
    background-color: #fff; 
    
}

.aboutMe {
    font-family: 'Raleway', sans-serif; 
    letter-spacing: 7px;
    padding-top: 20px;   
    padding-bottom: 20PX;  
    margin-bottom: 0;
}


.about-photo {  
    width:400px;
    height:350px;
    padding-bottom: 20px; 
      
}

p {
    text-align: center; 
}

.biosectionpic {
    margin-left: 45px; 
    margin-right: 45px; 
}

.aboutp {
    margin-left: -25px; 
    margin-right: -25px;  
}

hr {
    display: block; 
       margin-top: 0.5em; 
       margin-bottom: 0.5em; 
       margin-left: auto; 
       margin-right: auto; 
       border-style: inset; 
       border-width: 1px; 
       border-color:#0abab5;
}


.hr1 {
    margin-top: 80px; 
    display: block; 
    margin-bottom: 16px; 
    margin-left: auto; 
    margin-right: auto; 
    border-style: inset; 
    border-width: 1px; 
    border-color:#0abab5; 

}

.hr2 {
    margin-top: 80px; 
    display: block; 
    margin-bottom: 16px; 
    margin-left: 55px; 
    margin-right: 55px; 
    border-style: inset; 
    border-width: 1px; 
    border-color:#0abab5; 
    
    
}

.hr3 {
   
    margin-left: 55px; 
    margin-right: 55px; 
    

}


/*************SECTION 2**********************/

ul li {
    margin-right: 10px; 
}

#section2 {
    height: auto;
    padding-top: 65px;
    padding-bottom: 70px; 
    background-color: #fff; 
}

.resume-headings {
    font-size: 14px; 
    text-align: center;
}

.resume-font {
    font-size: 14px; 
    text-align: center; 
}

.teachingsub {
    font-size: 14px; 
}

.education {
    background-color: whitesmoke; 
    padding: 4px; 
    padding-left: 0;
    letter-spacing: 5px;  
    text-align: center!important; 
}

.educationsub {
    padding-left: 0; 
    display : inline-block;
    padding-right: 0; 
}

.educationsub p {
    margin-bottom: 2px; 
}

.underline {
  display: hide; 
}


    

