/************iphone 7 and 8 plus ************************/

@media only screen 
and (min-width: 414px)
and (max-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait){

    

}


/* ***********Breakpoint From Phone To Desktops ***********************

@media screen and (min-width: 769px){


} */

/*******************iMAC PRO LAPTOP *******************************/

@media screen and (min-width: 1025px){
   
    /***************ENTER PAGE*****************************/
    
   i {
        margin: 20px; 
       
    }
    
    .sec2 {
        padding-top: 50px; 
        /* border: #fff solid 2px; */
        border: #0abab5 solid 2px; 
        background-color: #fff;
        color: #000; 
        /* height: 100%; */
       /* padding: 0; */
       height:100%; 
         /* height: 100%; */
    }
    
    .sec1 {
        height:100%; 
        background-image:url("imgmac.png");  
        object-fit: contain; 
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
        background-repeat: no-repeat; 
      
    }
    
     img {
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
       
       /* position:fixed;  */
        /* object-fit: contain;  */
        /* display: none;  */
        /* max-width: 100%;
        max-height: 100%;  */
    }

    .enterimg {
        display: none; 
    }
    
    .mainPageHead {
        padding-top: 130PX;
        padding-bottom: 10PX; 
        font-family: 'Raleway', sans-serif; 
        font-size: 50px; 
    }

    
   
    .quote {
        font-size: 25px; 
        padding-bottom: 10px; 
    }
    
    .btn {
       display: block;
       margin: 0 auto; 
       padding: 32px 32px; 
       margin-bottom: 15px; 
    
    }

    .foot1 {
        color: #000; 
        
    }
/***************SECTION1*****************************/

.aboutMe {
    padding-bottom: 45PX;  
    
}

.about-photo {
   width: 600px;
   height: 590px;
}


    .fancy {
        line-height: 0.5;
        text-align: center; 
    }
    
    .fancy span {
        display: inline-block;
        position: relative;
    }
    
    .fancy span:before,
    .fancy span:after {
        content: ""; 
        position: absolute; 
        height: 5px;
        border-bottom: 1px solid lightgray; 
        border-top: 1px solid lightgray;
        top: 0; 
        width: 200px; 
        margin-top: 10px; 
    }
    
    .fancy span:before {
        right: 100%; 
        margin-right: 15px; 
    }
    
    .fancy span:after {
        left: 100%; 
        margin-left: 15px; 
    }
    

}

/*******************DESK TOP *******************************/

@media screen and (min-width: 1281px){

   
    /*******************ENTER PAGE *******************************/
    
    
    .sec2 {
        padding-top: 200px; 
        /* border: #fff solid 2px; */
        /* height: 100%; */
       /* padding: 0; */
       
         /* height: 100%; */
    }
    
    .sec1 {
        
        background-image:url("imgdesk.png"); 
      
    }
    
   
    
    .mainPageHead {
        padding-top: 120PX;
        padding-bottom: 20PX; 
        font-family: 'Raleway', sans-serif; 
        font-size: 55px; 
        
        
         
    }
    
   
    .quote {
        font-size: 25px; 
        padding-bottom: 10px; 
    }
    
    .btn {
       display: block;
       margin: 0 auto; 
       padding: 32px 32px; 
       margin-bottom: 15px; 
    
    }

    /*******************SECTION 1 *******************************/

    .about-photo {
        width: 732px;
        height: 660px;
     }

     .aboutp {
         padding-top: 40px; 
     }


}